### 1. Write a program to demonstrate different number data types in Python

In [2]:
a=10
b=11.5
c=2.05j
d= 'yash jha'
print("Type of a is:",type(a))
print("Type of b is:",type(b))
print("Type of c is:",type(c))
print("Type of d is:",type(d))

Type of a is: <class 'int'>
Type of b is: <class 'float'>
Type of c is: <class 'complex'>
Type of d is: <class 'str'>

In [3]:
type(d)

str

### 2. Write a python program to perform different arithmetic operations on numbers in python

In [8]:
a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
print("Addition of a and b is:",a+b)
print("Subtraction of a and b is:",a-b)
print("Multiplaction of a and b is:",a*b)
print("Division of a and b is:",a/b)
print("Reminder of a and b is:",a%b)
print("Exponent of a and b is:",a**b)  ## exponent operator (a^b)
print("Float of a and b is:",a//b)     ## floar division

Enter the value of a: 50
Enter the value of b: 10

Addition of a and b is: 60
Subtraction of a and b is: 40
Multiplaction of a and b is: 500
Division of a and b is: 5.0
Reminder of a and b is: 0
Exponent of a and b is: 97656250000000000
Float of a and b is: 5

### 3. Write a program to create, concatenate and print a string and accessing sub-string from a given string

In [16]:
s1=input("Enter first string:");
s2=input("Enter sencond string:");
print("First string is:",s1)
print("Second string is:",s2)
print("Concatenated string is:",s1+s2)
print("substring of given string is:",s1[1:4])

Enter first string: My name is yash jha
Enter sencond string: I am an united Employee

First string is: My name is yash jha
Second string is: I am an united Employee
Concatenated string is: My name is yash jhaI am an united Employee
substring of given string is: y n

In [17]:
s3=s1+s2
print(s3)

My name is yash jhaI am an united Employee

In [20]:
print(s1,'and', s2)

My name is yash jha and I am an united Employee

In [23]:
s4= (s1, 'and', s2)   ## Tuple
s4

('My name is yash jha', 'and', 'I am an united Employee')

In [24]:
type(s4)

tuple

### 4. Write a python script to print the current date

In [31]:
import time;
ltime=time.localtime();
print(ltime);
print(time.strftime("%a %b %d %H:%M:%S %Z %Y",ltime));

time.struct_time(tm_year=2025, tm_mon=3, tm_mday=29, tm_hour=0, tm_min=45, tm_sec=17, tm_wday=5, tm_yday=88, tm_isdst=0)
Sat Mar 29 00:45:17 India Standard Time 2025

## List

### Write a program to create, append and remove lists in python

In [32]:
## Creating Empty list
my_list=[]

In [33]:
type(my_list)

list

In [36]:
my_list=[1,2,3,4,5]

In [37]:
my_list

[1, 2, 3, 4, 5]

In [38]:
## List with mixed data types
my_list=[1, 'Two',3,'Four', 5]
my_list

[1, 'Two', 3, 'Four', 5]

In [39]:
# Nested List
my_list= ['My name is Yash', 1,'Two',3,4,5,[1,2,3]]
my_list

['My name is Yash', 1, 'Two', 3, 4, 5, [1, 2, 3]]

In [40]:
my_list[0]

'My name is Yash'

In [41]:
my_list[1:3]

[1, 'Two']

In [42]:
my_list[:]

['My name is Yash', 1, 'Two', 3, 4, 5, [1, 2, 3]]

In [43]:
my_list[3:]

[3, 4, 5, [1, 2, 3]]

In [46]:
my_list[1:]

[1, 'Two', 3, 4, 5, [1, 2, 3]]

In [47]:
my_list[0:1]

['My name is Yash']

In [49]:
## Appending and extending lists
odd=[1,3,5]

In [50]:
odd

[1, 3, 5]

In [51]:
odd.append(7)

In [52]:
odd

[1, 3, 5, 7]

In [53]:
odd.append([9,11,13])
odd

[1, 3, 5, 7, [9, 11, 13]]

In [54]:
# By using append function we can't add more than one element as you can see above. for that we will be using extend function
odd.extend([9,11,13,15])
odd

[1, 3, 5, 7, [9, 11, 13], 9, 11, 13, 15]

In [55]:
print(odd)

[1, 3, 5, 7, [9, 11, 13], 9, 11, 13, 15]

In [58]:
# list concatination
combined_list= odd+my_list

In [59]:
combined_list

[1,
 3,
 5,
 7,
 [9, 11, 13],
 9,
 11,
 13,
 15,
 'My name is Yash',
 1,
 'Two',
 3,
 4,
 5,
 [1, 2, 3]]

In [60]:
## Delete/Remove list elements
del combined_list[1]
combined_list

[1,
 5,
 7,
 [9, 11, 13],
 9,
 11,
 13,
 15,
 'My name is Yash',
 1,
 'Two',
 3,
 4,
 5,
 [1, 2, 3]]

In [61]:
## Deleting multiple items
del combined_list[1:4]
combined_list

[1, 9, 11, 13, 15, 'My name is Yash', 1, 'Two', 3, 4, 5, [1, 2, 3]]

In [63]:
combined_list.remove('My name is Yash')

In [64]:
combined_list

[1, 9, 11, 13, 15, 1, 'Two', 3, 4, 5, [1, 2, 3]]

In [65]:
combined_list.pop(6)
combined_list

[1, 9, 11, 13, 15, 1, 3, 4, 5, [1, 2, 3]]

In [66]:
last_item_in_list= combined_list.pop()
combined_list

[1, 9, 11, 13, 15, 1, 3, 4, 5]

In [67]:
print(last_item_in_list)
print(combined_list)

[1, 2, 3]
[1, 9, 11, 13, 15, 1, 3, 4, 5]

In [1]:
### Method	        Removes By	             Returns Removed Item?	    Error If Not Found?
### remove(value)	Value	                    ❌ No	                     ✅ Yes
### pop(index)	    Index (default: last)	    ✅ Yes	                     ✅ Yes