# Boolean variables, LIST, SETS, DICTIONARIES AND TUPLES

In [1]:
True

True

In [2]:
False

False

In [3]:
print(True,False)

True False

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [6]:
my_str='Yash Jha'

In [8]:
my_str.capitalize()

'Yash jha'

In [9]:
my_str.isalnum()

False

In [10]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('a')) #test if string endswith a d
print(my_str.startswith('Y')) #test if string startswith H

False
False
False
True
False
False
False
True
True

STRINGS

In [1]:
s='apple'

In [4]:
print(s.capitalize())

Apple

In [5]:
s.capitalize()

'Apple'

In [6]:
s.casefold()

'apple'

In [13]:
s.center(10,"5") #centre will take 1st argument as width and 2nd argument that u want to string align with.

'55apple555'

In [19]:
s.center(20,'8')

'8888888apple88888888'

In [25]:
s.center(20,'*') # the 2nd argument always should be one character long.

'*******apple********'

In [26]:
s.islower()

True

BOOLEAN AND LOGICAL OPERATORS

In [27]:
True and True

True

In [29]:
True and False

False

In [30]:
False and True

False

In [31]:
False and False

False

In [32]:
True or True

True

In [33]:
True or False

True

In [38]:
my_str='Yash_Jha'
string='Hello'

In [40]:
print(my_str.isalpha() or string.isalnum())

True

In [43]:
my_str.isalpha() or string.isalnum()

True

# LIST

In [44]:
l=[]

In [45]:
type(l)

list

In [46]:
type([])

list

In [47]:
lst=list()

In [48]:
type(lst)

list

In [49]:
list=['Apple','Orange','Guava','100','200']

In [50]:
type(list)

list

In [51]:
list[1]

'Orange'

In [52]:
len(list)

5

append function

In [54]:
list.append('Yash')

In [55]:
list

['Apple', 'Orange', 'Guava', '100', '200', 'Yash']

In [56]:
list[:]

['Apple', 'Orange', 'Guava', '100', '200', 'Yash']

In [57]:
list[1:]

['Orange', 'Guava', '100', '200', 'Yash']

In [58]:
list[1:4]

['Orange', 'Guava', '100']

In [59]:
list.append(['bala','tripathi'])

In [60]:
print(list)

['Apple', 'Orange', 'Guava', '100', '200', 'Yash', ['bala', 'tripathi']]

In [61]:
#append is basically for add the value at last but if you want to add any  value at any specific place then we can use insert function.

INSERT

In [62]:
list.insert(1,'inserted')

In [63]:
list

['Apple',
 'inserted',
 'Orange',
 'Guava',
 '100',
 '200',
 'Yash',
 ['bala', 'tripathi']]

In [64]:
print(list)

['Apple', 'inserted', 'Orange', 'Guava', '100', '200', 'Yash', ['bala', 'tripathi']]

Extend method

In [65]:
new_list=['1','2','3','4','5','6',]

In [66]:
new_list

['1', '2', '3', '4', '5', '6']

In [67]:
new_list.extend(['8','9'])

In [69]:
new_list

['1', '2', '3', '4', '5', '6', '8', '9']

Various operation that we can perform in list

In [71]:
new_list

['1', '2', '3', '4', '5', '6', '8', '9']

In [75]:
sum(new_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [76]:
l=[1,2,3,4,5,5]

In [77]:
l

[1, 2, 3, 4, 5, 5]

sum() function

In [79]:
sum(l)

20

pop() function

In [83]:
l.pop()

5

In [84]:
l

[1, 2, 3, 4, 5]

In [85]:
l.pop(0)

1

In [86]:
l

[2, 3, 4, 5]

count() :calculate total number of occurance of any element in list

In [87]:
l.count(1)

0

In [88]:
l.count(5)

1

In [89]:
l.count(7)

0

In [90]:
#length calculates the total no. present in the list
len(l)

4

In [93]:
l.append(101)

In [94]:
l

[2, 3, 4, 5, 101, 101]

In [95]:
l.pop()

101

In [96]:
l

[2, 3, 4, 5, 101]

In [97]:
#min and max
min(l)

2

In [98]:
max(l)

101

In [99]:
len(l)

5

In [101]:
# index() : it calculates the index of 1st occurance in the list.
l.index(2)

0

In [102]:
l.index(101)

4

In [104]:
l.index(4,2,3)

2

In [105]:
l*2

[2, 3, 4, 5, 101, 2, 3, 4, 5, 101]

In [106]:
l*5

[2,
 3,
 4,
 5,
 101,
 2,
 3,
 4,
 5,
 101,
 2,
 3,
 4,
 5,
 101,
 2,
 3,
 4,
 5,
 101,
 2,
 3,
 4,
 5,
 101]

In [107]:
#this is not multiplying this is just adding the same list

# SETS

In [1]:
#defining an empty set
set_var=set()

In [5]:
set_var

set()

In [8]:
print(type(set_var))

<class 'set'>

In [10]:
set_var={1,2,3,4}
set_var

{1, 2, 3, 4}

In [13]:
set_var={1,2,3,4,3} #although I provide 3 twice but it will print only once because set doesn't contain duplicate values.
set_var

{1, 2, 3, 4}

In [14]:
set_var={'Avengers','Ironman','Hitman'}

In [15]:
set_var

{'Avengers', 'Hitman', 'Ironman'}

In [16]:
type(set_var)

set

In [17]:
# inbuilt function in sets

In [18]:
set_var.add('Buggy')

In [21]:
set_var

{'Avengers', 'Buggy', 'Hitman', 'Ironman'}

In [22]:
set_var.remove('Buggy')

In [23]:
set_var

{'Avengers', 'Hitman', 'Ironman'}

In [33]:
# difference
set1={'Avengers','Hitman','buggy','duggu'}
set2={'Avengers','Hitman','Ironman','guggu','utpal'}

In [34]:
set2.intersection(set1)

{'Avengers', 'Hitman'}

In [26]:
set2.difference(set1)

{'Ironman', 'guggu', 'utpal'}

In [28]:
set2 # but we can see it is not updated so for that there is a function called difference_update()

{'Avengers', 'Hitman', 'Ironman', 'guggu', 'utpal'}

In [29]:
set2.difference_update(set1)

In [30]:
set2

{'Ironman', 'guggu', 'utpal'}

# Dictionary

A dictionary is a collection which is unordered, changable and indexed. In python dictioniries are written within curly brackets, and they have key and values.

In [35]:
dic={}

In [36]:
type(dic)

dict

In [37]:
#Let's create a dictionary
my_dict={"car1":"Audi","car2":"BMW","car3":"Jaguar"}

In [38]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Jaguar'}

In [39]:
type(my_dict)

dict

In [40]:
#retriving values with the help of keys
my_dict['car1']

'Audi'

In [41]:
#we can even loop throughout the keys
for x in my_dict:
    print(x)

car1
car2
car3

In [43]:
#we can also loop throughout the values
for x in my_dict.values():
    print(x)

Audi
BMW
Jaguar

In [44]:
#We can also check both keys and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Jaguar')

In [45]:
#Adding items in dictionary
my_dict['car4']='Lamborgini'

In [46]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Jaguar', 'car4': 'Lamborgini'}

In [47]:
my_dict['car1']='Maruti'

In [48]:
my_dict

{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Jaguar', 'car4': 'Lamborgini'}

So if we try to update duplicate key with different value it will be replaced.

Nested dictionary

In [49]:
car1_model={'Audi':1960}
car2_model={'Mersedies':1970}
car3_model={'Jaguar':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [50]:
car_type

{'car1': {'Audi': 1960}, 'car2': {'Mersedies': 1970}, 'car3': {'Jaguar': 1980}}

In [51]:
type(car_type)

dict

In [52]:
#accessing the items in dictionary
car_type['car1']

{'Audi': 1960}

In [54]:
car_type['car1']['Audi']

1960

# Tuples

In [57]:
#creating an empty tuple
my_tuple=tuple()

In [58]:
type(my_tuple)

tuple

In [59]:
my_tuple=()

In [60]:
type(my_tuple)

tuple

In [61]:
my_tuple=('Yash','sumi','nandan','kundan')

In [63]:
my_tuple

('Yash', 'sumi', 'nandan', 'kundan')

In [66]:
#accessing elements in tuple
my_tuple[0]

'Yash'

In [67]:
my_tuple[2]

'nandan'

In [68]:
# tuple is unmutable i.e if we assign a tuple there wont be any add or delete in values we can just change the whole tuple

In [69]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Yash', 'sumi', 'nandan', 'kundan')

In [72]:
#inbuilt function in tuple
my_tuple.count('Yash')

1

In [73]:
my_tuple.index('sumi')

1

In [74]:
my_tuple.index('kundan')

3