# String formatting in python

In [1]:
print("Hello Yash")

Hello Yash

In [2]:
str="My name is Yash Jha."
str

'My name is Yash Jha.'

In [7]:
def greetings(name):
    return "Hello {}. Welcome to the data community.".format(name)

In [8]:
greetings("Yash Jha")

'Hello Yash Jha. Welcome to the data community.'

In [9]:
# defining an another function
def Welcome(name,age):
    return "Hello {}. Your age is {}".format(name,age)

In [11]:
Welcome('Yash Jha',21)

'Hello Yash Jha. Your age is 21'

In [12]:
def Welcome(name,age):
    return "Hello {}. Your age is {}".format(age, name)

In [13]:
Welcome('jha',21)

'Hello 21. Your age is jha'

We can see above if we put wrong order in format method then result will change. To overcome this we can use temporary variables

In [14]:
def Welcome(name,age):
    return "Hello {name1}. Your age is {age1}".format(age1=age,name1= name)

In [15]:
Welcome('Yash Jha', 22)

'Hello Yash Jha. Your age is 22'